<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
		<property name="hibernate.connection.url">jdbc:sqlite:./database/chat.sqlite</property>
		<property name="hibernate.dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping resource="/hibernate/AdivinarMayorMenorHandler.hbm.xml" />
		<mapping resource="/hibernate/deudaAsistente/DeudaAsistente.hbm.xml" />
		<mapping resource="/hibernate/sala/Sala.hbm.xml" />
		<mapping resource="/hibernate/usuario/Usuario.hbm.xml" />
		<mapping resource="/hibernate/usuarioSala/UsuarioSala.hbm.xml" />
		<mapping resource="/hibernate/contacto/Contacto.hbm.xml" />
				<mapping resource="/hibernate/rss/RssClassManager.hbm.xml" />
		<mapping resource="/hibernate/adivinado/MayorMenorAdivinadoHandler.hbm.xml" />
    </session-factory>    
</hibernate-configuration>